* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

p {
    font-family: "Barlow", sans-serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}